{{template "base" .}}

{{define "css"}}
    <style>
            body, h1, h2, p, ul, li {
            margin: 0;
            padding: 0;
            }

            /* Basic styling */
            body {
            font-family: Arial, sans-serif;
            }

            header {
            background-color: rgba(15, 14, 14, 0.986);
            color: #fff;
            padding: 10px;
            text-align: center;
            }

            nav ul {
            list-style: none;
            }

            nav ul li {
            display: inline;
            margin-right: 15px;
            }

            nav ul li a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            }

            .content {
            padding: 120px;
            text-align: center; 
            }

            footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
            }
    </style>
{{end}}

{{define "content"}}


    <header>
        <h1>WEB</h1>
    </header>

    <section class="content">
        <h2>What am i see?</h2>
        <p><br> Well this is gonna be main page</p>
    </section>

    <footer>
        <p>&copy; 2023 xknows</p>
    </footer>


{{end}}
